.footer-parent {
  height: 230px;
  margin: 10px 0 0;
  background: url(%%riseforalex%%) no-repeat 0 20px;
  background-color: $color-white-2;
}

/* Debug Info (pi) */
p.debuginfo {
  background: $color-white-2;
  color: $color-black-1;
}
