

$color-white-1: #fff;
$color-white-2: #f2f2f2;
$color-white-3: #f3f3f3;
$color-white-4: #fcfcfc;
$color-white-5: #fafafa;
$color-white-6: #f5f5f5;

$color-grey-light-1: #efefef;
$color-grey-light-2: #ddd;
$color-grey-light-3: #ccc;
$color-grey-light-4: #c8c8c8;
$color-grey-light-5: #bbb;
$color-grey-light-6: #d8d8d8;
$color-grey-light-7: #eee;
$color-grey-light-8: #e0e0e0;

$color-grey-mid-1: #666;
$color-grey-mid-2: #555;
$color-grey-mid-3: #444;

$color-grey-dark-1: #222;
$color-grey-dark-2: #333;
$color-grey-dark-3: #2b2b2b;

$color-black-1: #000;
$color-black-2: #1b1b1b;
$color-black-3: #001028;

$color-red-1: #f00;

$color-blue-1: #08f;
$color-blue-2: #002b63;
$color-blue-3: #00f;
$color-blue-4: #010033;
$color-blue-5: #09f;
$color-blue-6: #003e8d;
$color-blue-7: #3491d2;

$color-navy: #369;

$color-purple-1: #9a2efe;
$color-purple-2: #4b0470;

$color-yellow-1: #ff0;
$color-yellow-2: #cdad00;
$color-yellow-3: #eeae09;
$color-yellow-4: #ff3;
$color-yellow-5: #fcd000;

$color-green-1: #008000;
$color-green-2: #00572b;
$color-green-3: #006332;
$color-green-4: #19a319;

$color-orange-1: #ff9000;
$color-orange-2: #ff4e00;

$color-gold-1: #ffd700;
